.anime-page{
    padding: 2em 10em;

    .small{
        font-size: 0.7rem;
    }
    .content-left{
        width: 50%;
        min-height: 10em;
        display: inline-block;
        .title{
            font-size: 2rem;
            margin: auto 0;
        }

        .details{
            display: inline-block;
            margin-right: 2em;
        }

        .description{
            text-align: justify;
        }

        .details-div{
            margin-bottom: 1em;

            .inline-details{
                display: inline;
                margin-right: .5em;
            }
        }
    }
    .genre{
        display: inline-block;
        min-width: 1em;
        padding: .3em;
        border: 1px solid white;
        border-radius: 1em;
        transition: .3s all;
        cursor: pointer;
        margin-right: .5em;
        margin-bottom: .2em;

        &:hover{
            background: var(--light_blue);
            box-shadow: 0 0 2em 0 var(--light_blue);
        }

        p{
            margin: 0;
        }
    }
    .content-right{
        float: right;
        display: flex;
        padding:1em;
        flex-direction: column;
        align-items: center;

        .img{
            height: 25em;
            width: fit-content;
            display: inline-block;
            img{
                height: 100%;
                border-radius: .5em;
                box-shadow: 1em 1em 1em rgba(9, 0, 14, 0.781)
            }
        }
    }

    .seasons{
        background:var(--gray-dark);
        display: flex;
        margin: 1em 0;
        border-radius: .5em;
        width: 100%;
        padding: 1em;

        .season-select{
            width: 100%;
            background: #333;
            border-radius: .5em;
            padding: .5em;
        }
    }
    .episodes{
        background: var(--gray-dark);
        width: 100%;
        padding: 1em;
        border-radius: .5em;

        .episode{
            border: var(--gray) 1px solid;
            border-radius: .5em;
            width: 100%;
            padding: 1em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: .2em 0;

            div button{
                background: var(--purple);
                border: none;
                border-radius: 1em;
                padding: .5em;
                transition: .3s all;
                margin: 0 .2em;

                &:hover{
                    background: var(--dark_purple);
                }
            }
        }
    }
}